<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Emojicons-Keyboard.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Emojicons.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>431B97C119D413A30047B810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>431B97D619D413A30047B810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>431B97EA19D4144E0047B810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43EE931E19DD69D800BAA1F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43EE932819DD69D900BAA1F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
